<% unless @loan_apps.empty? %>
  <h3>Your Loan Application Lists</h3>
<% end %>
<% @loan_apps.each do |loan_app| %>
  <div class="well well-lg col-md-3 loan-content">
    <div class="loan-info">
      <span class="loan-attr"> Doc ID: </span> <span class="loan-val"><%= loan_app.id %></span>
    </div>
    <div class="loan-info">
      <span class="loan-attr">Amount: </span> <span class="loan-val">$<%= loan_app.amount %></span>
    </div>
    <div class="loan-info">
      <span class="loan-attr">Down Payment: </span> <span class="loan-val">$<%= loan_app.down_payment %></span>
    </div>
    <div class="loan-info">
      <span class="loan-attr">Interest: </span> <span class="loan-val"><%= loan_app.interest %>%</span>
    </div>
    <div class="pdf-link"><%= link_to "View PDF", loan_application_path(loan_app),  remote: true, class: "btn btn-primary", id: "loanpdf" %></div>
  </div>
<% end %>